@model IEnumerable<MVCtest.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="~/categoriesrepository/Creat" class="btn btn-secondary mb-3"><i class="fa fa-plus-circle"></i> 新增</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>CategoryID</th>
            <th>CategoryName</th>
            <th>Description</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
  
        @foreach (var _category in Model)
        {
            <tr>
                <td>@_category.CategoryID</td>
                <td>@_category.CategoryName</td>
                <td>@_category.Description</td>
                <td><a href="~/categoriesrepository/Edit/@_category.CategoryID" class="btn btn-success"><i class="fa fa-pencil-square"></i>編輯</a></td>
                <td><a href="~/categoriesrepository/Delete/@_category.CategoryID" class="btn btn-danger" onclick="return confirm('真的要刪除嗎?')"><i class="fa fa-trash-o"></i>刪除</a></td>
            </tr>
        }


    </tbody>
</table>